@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<phone>
    Birmingham, Alabama<br />
    Phone: (205) 807-3882<br />
</phone>
<br />
<address>
    <strong>Email:</strong> <a href="ac3page@gmail.com">ac3page@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="LinkedIn.com/in/andrew-page-a61522150">LinkedIn.com/in/andrew-page-a61522150</a><br />
    <strong>GitHub:</strong> <a href="GitHub.Com/apage1">GitHub.Com/apage1</a>
</address>
