@{
    ViewData["Title"] = "Factors";
}
<h1>@ViewData["Title"]</h1>

<h1>@ViewData["Message"]</h1>

<body>
    <main>
        <h3>Geographic</h3>
        <h3>Demographic</h3>
        <h3>Cultural</h3>
        <h3>Political</h3>
    </main>
</body>